{% extends "user/base.html.twig" %}
{% block title %} {{title}} {% endblock %}
{% block body %}
<nav aria-label="breadcrumb" >
	<ol class="breadcrumb my-3">
		<li class="breadcrumb-item">
			<a href="{{ path('user') }}">Dashboard</a>
		</li>
        <li class="breadcrumb-item">
			<a href="{{ path('user_user') }}">Utilisateurs</a>
		</li>
		<li class="breadcrumb-item active" aria-current="page">{{user.lastname ~ ", " ~ user.firstname}}</li>
	</ol>
</nav>

<div class="content">
    <div class="card">
        <div class="card-header">
            <span class="card-title h5">Voir les informations de l'utilisateur</span>
        </div>
        <div class="card-body">

            <div class="row d-flex align-items-stretch">
                <div class="col-4 card shadow m-2">
                    
                    <div class="card-body text-center">
                        <img src="{{ pictures_directory ~ user.avatar }}" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                        <h5 class="my-3">{{ user.lastname }}, {{ user.firstname }}</h5>
                        <p class="text-muted mb-1">{{ user.job }}</p>
                        <p class="text-muted mb-4">{{ user.email }}</p>
                        {% if user.id == app.user.id %}
                            <div class="d-flex justify-content-center mb-2">
                                <a href=" {{ path('user_user_avatar', {'id': user.id}) }} " type="button" class="btn btn-warning">Changer l'avatar</a>
                            </div>
                        {% endif %}
                        
                    </div>
                   
                </div>
                <div class="col card shadow m-2">
                    
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Nom</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ user.firstname }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Prénom</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ user.lastname }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Poste</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ user.job }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Email</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ user.email }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Addresse</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ user.address }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Contact</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ user.contact }}</p>
                            </div>
                        </div>

                        <hr>
                        {% if user.id == app.user.id %}
                            <div class="d-flex justify-content-start">
                                <a href="{{path('user_user_edit', {'id':user.id})}}" type="button" class="btn btn-success">Modifier</a>
                                <!--<button type="button" class="btn btn-outline-danger disabled ms-1">Supprimer</button>-->
                            </div>
                        {% endif %}
                        
                        
                        
                    </div>


                    
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}