{% extends "admin/base.html.twig" %}
{% block title %} {{title}} {% endblock %}
{% block body %}
{% form_theme form _self %}
<nav aria-label="breadcrumb" >
	<ol class="breadcrumb my-3">
		<li class="breadcrumb-item">
			<a href="{{ path('admin') }}">Dashboard</a>
		</li>
        <li class="breadcrumb-item">
			<a href="{{ path('admin_equipement') }}">Equipements</a>
		</li>
        <li class="breadcrumb-item">
			<a href="{{ path('admin_equipement_show', {id:organe.equipement.id}) }}">{{organe.equipement.name}}</a>
		</li>
		<li class="breadcrumb-item active" aria-current="page">Modifier l'organe</li>
	</ol>
</nav>

<div class="content">
    <div class="card">
        <div class="card-header">
            <span class="card-title h5">Modifier l'organe</span>
        </div>
        <div class="card-body">

            {{ form_start(form, {'action': path('admin_equipement_organe_edit', {'id': organe.id}), 'method': 'POST'}) }}

            {{ form_widget(form) }}

            <button class="btn btn-primary" type="submit">Enregistrer</button>

            <a class="btn btn-secondary" href="{{ path('admin_equipement_show', {id:organe.equipement.id}) }}">Annuler</a>

            {{ form_end(form) }}

        </div>
    </div>
</div>
{% endblock %}
{% block _organe_pieces_widget %}
    {{ form_widget(form) }}
    <button type="button" class="btn btn-warning" id="add-piece"> Ajouter une piece </button>   
{% endblock %}

{% block _organe_pieces_entry_row %}
    {{ form_widget(form)}}
{% endblock %}

{% block _organe_pieces_entry_widget %}
    <div class="mb-3" id="block_{{id}}">

        <hr>

        {{ form_widget(form) }}
    
        <button type="button" class="btn btn-danger" id="delete-piece" data-action="delete" data-target="block_{{id}}"> X </button>
        
    </div>
{% endblock %}

{% block javascripts %}

<script>
    const addService = document.getElementById('add-piece');
    addService.addEventListener('click', () => {
        
        const index =Math.round(Math.random()*1000)

        let tmpl = document.getElementById('organe_pieces').dataset.prototype.replace(/__name__/g, index)

        let div = document.createElement('div')
        div.innerHTML = tmpl

        document.getElementById('organe_pieces').appendChild(div)

        handleDeleteButton()

    })

    function handleDeleteButton() {
        document.querySelectorAll('button[data-action="delete"]').forEach((e) => {
            const target = e.dataset.target
            e.addEventListener(
                'click',
                () => {
                    document.getElementById(target).remove()
                }
            )
        })
    }

    handleDeleteButton()

</script>

{% endblock %}