{% extends "admin/base.html.twig" %}
{% block title %} {{title}} {% endblock %}
{% block body %}
<nav aria-label="breadcrumb" >
	<ol class="breadcrumb my-3">
		<li class="breadcrumb-item">
			<a href="{{ path('admin') }}">Dashboard</a>
		</li>
        <li class="breadcrumb-item">
			<a href="{{ path('admin_admin') }}">Administrateurs</a>
		</li>
		<li class="breadcrumb-item active" aria-current="page">{{admin.lastname ~ ", " ~ admin.firstname}}</li>
	</ol>
</nav>

<div class="content">
    <div class="card">
        <div class="card-header">
            <span class="card-title h5">Voir les informations de l'administrateurs</span>
        </div>
        <div class="card-body">

            <div class="row d-flex align-items-stretch">
                <div class="col-4 card shadow m-2">
                    
                    <div class="card-body text-center">
                        <img src="{{ pictures_directory ~ admin.avatar }}" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                        <h5 class="my-3">{{ admin.lastname }}, {{ admin.firstname }}</h5>
                        <p class="text-muted mb-1">{{ admin.job }}</p>
                        <p class="text-muted mb-4">{{ admin.email }}</p>
                        <div class="d-flex justify-content-center mb-2">
                            <a href=" {{ path('admin_admin_avatar', {'id': admin.id}) }} " type="button" class="btn btn-warning">Changer l'avatar</a>
                        </div>
                    </div>
                   
                </div>
                <div class="col card shadow m-2">
                    
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Nom</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ admin.firstname }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Prénom</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ admin.lastname }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Poste</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ admin.job }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Email</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ admin.email }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Addresse</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ admin.address }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Contact</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ admin.contact }}</p>
                            </div>
                        </div>

                        <hr>

                        <div class="d-flex justify-content-start">
                            <a href="{{ path('admin_admin_edit', {'id': admin.id}) }}" type="button" class="btn btn-success">Modifier</a>
                            <!--<button type="button" class="btn btn-outline-danger disabled ms-1">Supprimer</button>-->
                        </div>
                        
                    </div>


                    
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}