{% block _site_services_widget %}
    {{ form_widget(form) }}
    <button type="button" class="btn btn-warning" id="add-service"> Ajouter un service </button>   
{% endblock %}

{% block _site_services_entry_row %}
    {{ form_widget(form)}}
{% endblock %}

{% block _site_services_entry_widget %}
    <div class="mb-3" id="block_{{id}}">
        <div class="row">
            <div class="col-10">
                {{ form_widget(form.name) }}
            </div>
            <div class="col-2">
                <button type="button" class="btn btn-danger" id="delete-service" data-action="delete" data-target="block_{{id}}"> X </button>
            </div>
        </div>
        
    </div>
{% endblock %}