{% extends "tech/base.html.twig" %}
{% block title %} {{title}} {% endblock %}
{% block body %}

<nav aria-label="breadcrumb" >
	<ol class="breadcrumb my-3">
		<li class="breadcrumb-item">
			<a href="{{ path('tech') }}">Dashboard</a>
		</li>
		<li class="breadcrumb-item active" aria-current="page">Equipements</li>
	</ol>
</nav>


<div class="content">
    <div class="card">
        <div class="card-header">
            <span class="card-title h5">Liste des equipements</span>
        </div>
        <div class="card-body">

            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nom</th>
                            <th>Fabricant</th>
                            <th>Origine</th>
                            <th>Organes</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        {% for equipement in equipements %}
                            <tr>
                                <td> <a href="{{ path('tech_equipement_show', {'id': equipement.id}) }}" class="link-primary" class="link-primary text-decoration-none">{{ equipement.id }}</a> </td>
                                <td>{{ equipement.name }}</td>
                                <td>{{ equipement.maker }}</td>
                                <td>{{ equipement.origin }}</td>
                                <td>{{ equipement.organes | length }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    <script>
        window.addEventListener('DOMContentLoaded', event => {
            const datatablesSimple = document.getElementById('dataTable');
            if (datatablesSimple) {
                new simpleDatatables.DataTable(datatablesSimple);
            }
        });
    </script>
{% endblock %}