{% extends "tech/base.html.twig" %}
{% block title %} {{title}} {% endblock %}
{% block body %}
<nav aria-label="breadcrumb" >
	<ol class="breadcrumb my-3">
		<li class="breadcrumb-item">
			<a href="{{ path('tech') }}">Dashboard</a>
		</li>
        <li class="breadcrumb-item">
			<a href="{{ path('tech_tech') }}">Techniciens</a>
		</li>
		<li class="breadcrumb-item active" aria-current="page">Ajouter</li>
	</ol>
</nav>
<div class="content">
    <div class="card">
        <div class="card-header">
            <span class="card-title h5">Nouveau technicien</span>
        </div>
        <div class="card-body">

            {{ form_start(form, {'action': path('tech_tech_add'), 'method': 'POST'}) }}

            {{ form_widget(form) }}

            <button class="btn btn-primary" type="submit">Enregistrer</button>

            {{ form_end(form) }}

        </div>
    </div>
</div>
{% endblock %}