{% extends "admin/base.html.twig" %}
{% block title %} {{title}} {% endblock %}
{% block body %}

<nav aria-label="breadcrumb" >
	<ol class="breadcrumb my-3">
		<li class="breadcrumb-item">
			<a href="{{ path('admin') }}">Dashboard</a>
		</li>
        <li class="breadcrumb-item">
			<a href="{{ path('admin_demande') }}">Demandes</a>
		</li>
		<li class="breadcrumb-item active" aria-current="page">{{demande.localisation.equipement.name}}</li>
	</ol>
</nav>

<div class="content">
    <div class="card">
        <div class="card-header">
            <span class="card-title h5">Voir la demande</span>
        </div>
        <div class="card-body">

            <div class="row d-flex align-items-stretch">
                <div class="col-4 card shadow m-2">
                    
                    <div class="card-body text-center">
                        <img src="{{ pictures_directory ~ demande.localisation.equipement.picture }}" alt="picture" class="rounded img-fluid" style="width: 200px;">
                        <h5 class="my-3">{{ demande.localisation.equipement.name }}</h5>
                        <p class="text-muted mb-1">{{ demande.localisation.equipement.maker }}</p>
                        <p class="text-muted mb-1">{{ demande.localisation.equipement.origin }}</p>
                        
                    </div>
                   
                </div>
                <div class="col card shadow m-2">
                    
                    <div class="card-body">
                        <div class="row responsive">
                            <div class="col-sm-3">
                                <p class="mb-0">Date </p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ demande.createdAt | date("d/m/Y H:i:s") }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row responsive">
                            <div class="col-sm-3">
                                <p class="mb-0">Site </p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ demande.localisation.site.name }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Service</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ demande.localisation.service }}</p>
                            </div>
                        </div>
                        <hr>                  
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Equipement</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ demande.localisation.equipement.name }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Description</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ demande.description }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Etat</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ demande.state }}</p>
                            </div>
                        </div>
                        
                        <hr>

                        <div class="d-flex justify-content-start">
                            <a href="{{ path('admin_intervention_add', {id:demande.id}) }}" type="button" class="btn btn-primary  ms-1">Ajouter une intervention</a>
                            <a href="" type="button" class="btn btn-primary  ms-1">Imprimer</a>
                        </div>
                        
                    </div>   
                </div>
            </div>

            

        </div>
    </div>
</div>
{% endblock %}
